
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;700&display=swap');
/* https://codepen.io/AdamDipinto/pen/JjPmxPe */
.img-cut {
    object-fit: cover;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    box-shadow: 9px 7px 14px #aaaaaa;
}

.img-cut-c {
    object-fit: cover;
    border-radius: 50%;
    width: 500px;
    height: 500px;
}

.flipper {
    -webkit-transition: 0.3s all;   
    -webkit-transition-delay: 0.3s; 
    -moz-transition: 0.3s all;   
    -moz-transition-delay: 5s; 
    -ms-transition: 0.3s all;   
    -ms-transition-delay: 5s; 
    -o-transition: 0.3s all;   
    -o-transition-delay: 5s; 
    transition: 0.3s all;   
    transition-delay: 0.3s; 
    transform-style: preserve-3d;
    position: relative;
  }
  
  
  .front,
  .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .front {
    z-index: 2;
    color: white;
    /* for firefox 31 */
      transform: rotateY(0deg);
  }
  /* back side */
  
  .back {
    transform: rotateY(180deg);
  }
  
  .back p {
    color: #fff;
    padding: 90px 30px;
  }

  .first-service .front{
    background-color: #3B4358;
  }
.first-service .back {
  background-color: #D0826F;
}


.front .icon {
	width: 140px;
	height: 140px;
	line-height: 140px;
	text-align: center;
	background-color: transparent;
	border: 1px solid #fff;
	border-radius: 50%;
  margin: 30px auto;
}

.flip-container {
    perspective: 1000;
  }
  /* turning on hover */
  
  .flip-container:hover .flipper {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -webkit-transition-delay: 0s;
      -moz-transition-delay: 0s;
      -ms-transition-delay: 0s;
      -o-transition-delay: 0s;
      transition-delay: 0s;
  }
  
  .flip-container,
  .front,
  .back {
    width: 100%;
    height: 350px;
    font-size: 30px;
  }
  /* flipping speed here */
  
  .company{
      font-size: 20px;
  }

  .dateJob{
      font-size: 15px;
  }

  .description{
      font-size: 15px;
      text-align: left;
  }
  .title{
      font-size: 20px;
      font-weight: 700;
  }

  .dialog{
    width:300px; 
    padding: 15px;
    padding-left: 25px;
    border-radius: 300px;
    height:125px;
    width: 550px;
    border: .5px solid lightgray;
    background-color: white;
    position: absolute; 
    z-index: 1;
    display:none;
    top: 100px;
    left: 28%;
  }


  .btn-primary1{
    color: white;
    background-color: #3B4358;
    border-color: #3B4358;
  }
  .btn-primary1:hover{
    color: white;
    background-color: #EBA74C;
    border-color: #EBA74C;
  }
  .btn-primary1:active{
    color: white;
    background-color: #D0826F;
    border-color: #D0826F;
  }

  .btn-outline-primary:hover {
    color: #fff;
    background-color: #D0826F;
    border-color: #D0826F;
  }  
  
  .btn-outline-primary {
    color: #3B4358;
    background-color: transparent;
    border-color: #3B4358;
  }

  .g-text{
    font-family: 'Montserrat', sans-serif; 
    color: #3B4358;
  }
  
  #prlx-lyr-1{
    position: fixed;
    background-color: #D0826F;
    border-radius: 50%;
    width: 50px;
  }

  #content-layer{
    position: absolute;
  }

  .overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    background-color:#384157;
    overflow-y: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay {overflow-y: auto;}
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }}



    .mail-sticky{
      box-shadow: 2px 2px 2px 1px rgba(22, 22, 22, 0.2);
      background-color: rgb(81, 118, 240);
      padding: 10px;
      z-index: 99;
      position: fixed;
      right: -90px;
      bottom: 10vh;
      border-radius: 15px 0 0 15px;
      transition: ease 0.3s;
    }
    .mail-sticky:hover{
      right: 0;
      cursor: pointer;
    }

.fade-in { 
  animation: fadeInAnimation ease 1.5s ;
  animation-iteration-count: 1; 
  animation-fill-mode: forwards; 
} 

@keyframes fadeInAnimation { 
  0% { 
      transform: translateY(15%);
      opacity: 0; 
  } 
  100% { 
      opacity: 1; 
    } 
} 


.fade-in-left { 
  animation: fadeInLeftAnimation ease-out .8s ;
  animation-iteration-count: 1; 
  animation-fill-mode: forwards; 
} 

@keyframes fadeInLeftAnimation { 
  0% { 
      transform: translatex(15%);
      opacity: 0; 
  } 
  100% { 
      opacity: 1; 
    } 
} 

.fade-in-right { 
  animation: fadeInRightAnimation ease-out .8s ;
  animation-iteration-count: 1; 
  animation-fill-mode: forwards; 
} 

@keyframes fadeInRightAnimation { 
  0% { 
      transform: translatex(-15%);
      opacity: 0; 
  } 
  100% { 
      opacity: 1; 
    } 
} 

.container {
  width: 1000px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.container .card {
  position: relative;
  border-radius: 10px;
}

.container .card .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: 0.7s;
  z-index: 1;
}

.container .card:nth-child(1) .icon {
  background: #e07768;
}

.container .card:nth-child(2) .icon {
  background: #6eadd4;
}

.container .card:nth-child(3) .icon {
  background: #4aada9;
}


.container .card .icon .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  transition: 0.7s;
  color: #fff;
}

i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  transition: 0.7s;
  color: #fff;
}

.container .card .face {
  width: 300px;
  height: 300px;
  transition: 0.5s;
}

.container .card .face.face1 {
  position: relative;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(200px);
}

.container .card:hover .face.face1{
  background: #ff0057;
  transform: translateY(0px);
}

.container .card .face.face1 .content {
  opacity: 1;
  transition: 0.5s;
}

.container .card:hover .face.face1 .content {
  opacity: 1;
}

.container .card .face.face1 .content i{
  max-width: 100px;
}

.container .card .face.face2 {
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 9px 7px 14px #aaaaaa;
  transform: translateY(-100px);
}

.container .card:hover .face.face2{
  transform: translateY(0);
}

.container .card .face.face2 .content p {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #414141;
}

.container .card .face.face2 .content h3 {
  margin: 0 0 10px 0;
  padding: 0;
  color: #fff;
  font-size: 24px;
  text-align: center;
  color: #414141;
} 

.container a {
  text-decoration: none;
  color: #414141;
}

.parallax {
  /* The image used */

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
